body, :root {
    margin: 0;
    padding: 0;
    background-color: #211f1d;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.bookmarks_container {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.bookmark {
    padding-top: .6rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    background-color: rgb(60, 60, 60);
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
}

.remove_bookmark {
    margin-right: .6rem;
    padding: .2rem .6rem;
    background-color: #212121;
    border: none; 
    border-radius: 2rem;
    color: white;
    align-self: self-end;
    text-align: center;
}

.remove_bookmark:hover {
    cursor: pointer;
    background-color: #dc4239;
}

.bookmark_url {
    padding: .7rem 0.5rem 1.5rem 0.5rem;
    display: grid;
    grid-template-rows: 2;
    border: 1px solid transparent;
    border-radius: 2rem;

    gap: 1rem;
    align-content: center;
    justify-content: center;

    img {
        justify-self: center;
    }

    span {
        padding: 0 1rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }
}


.bookmark_url:hover {
    cursor: pointer;
}

.bookmark:has(.bookmark_url:hover) {
  border: 1px solid #dc4239;
}