:root {
    --col-primary: #dc4239;
}

body {
    margin: 0;
    padding: 0;
    background-color: #211f1d;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.search_container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.search_container input {
    width: 50%;
    max-width: 400px;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    background-color: #141312;
    color: white; 
}

.search_container input:focus-visible {
    outline: none;
    box-shadow: 2px 2px 8px #1e1312;
}

.bookmarks_container {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.bookmark {
    padding-top: .6rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    background-color: rgb(60, 60, 60);
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.remove_bookmark {
    margin-right: .6rem;
    padding: .2rem .6rem;
    background-color: #212121;
    border: none; 
    border-radius: 2rem;
    color: white;
    align-self: self-end;
    text-align: center;
}

.remove_bookmark:hover {
    cursor: pointer;
    background-color: var(--col-primary);
}

.bookmark_url {
    padding: .7rem 0.5rem 1.5rem 0.5rem;
    display: grid;
    grid-template-rows: 2;
    border: 1px solid transparent;
    border-radius: 2rem;

    gap: 1rem;
    align-content: center;
    justify-content: center;

    img {
        justify-self: center;
    }

    span {
        padding: 0 1rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }
}


.bookmark_url:hover {
    cursor: pointer;
}

.bookmark:has(.bookmark_url:hover) {
  border: 1px solid var(--col-primary);
}

.active_focus {
    box-shadow: 0 4px 8px #141312;
    transform: scale(1.05);
}


.info-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.info-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--col-primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: help;
}

.tooltip {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
}

.info-container:hover .tooltip {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 30dvw;
    background-color: #141312;
    color: white;
    padding: 1.2rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px #141312;
    white-space: pre-line;
    z-index: 1000;
    font-size: 0.9rem;

    strong {
        border-bottom: 1px solid rgb(59, 59, 59);
        width: 100%;
        text-align: center;
        padding-bottom: 1rem;
    }

    ul {
        justify-self: center;
        margin: 0;
        padding: 0;
    }

    ul li {
        list-style: none;
    }
}

.info-container:hover .info-icon {
    box-shadow: 0 0 12px #e14e46;
}